@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: Oswald;
}
.react-datepicker-wrapper {
  width: 100%;
}
/* Force yellow stroke for RotatingLines loader */
.custom-yellow-loader svg {
  stroke: #FFD700 !important;
}
